# Ignore the Python virtual environment directory
apivenv/

# Ignore error/status log output file
match_log.txt

# Disregard the VS Code settings that are saved in the work folder
# for some reason
.vscode/
